<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="discount_listing_data_source" xsi:type="string">Yaroslav\RegularCustomer\Model\ResourceModel\Discounts\Grid\Collection</item>
                <item name="discount_form_data_source" xsi:type="string">Yaroslav\RegularCustomer\Model\ResourceModel\Discounts\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Yaroslav\RegularCustomer\Model\ResourceModel\Discounts\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult"
    >
        <arguments>
            <argument name="mainTable" xsi:type="string">ya_roslav_regular_customer_request</argument>
            <argument name="resourceModel" xsi:type="string">Yaroslav\RegularCustomer\Model\ResourceModel\DiscountRequest</argument>
        </arguments>
    </virtualType>
</config>
