<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
>
    <router id="standard">
        <route id="yaroslav_cms" frontName="ya-roslav-cms">
            <module name="Yaroslav_Cms"/>
        </route>
    </router>
</config>


    <!--
    https://yaroslav-n-magento.local/ya-roslav-cms/index/controllerclass
    https://yaroslav-n-magento.us/catalogsearch/result/?q=Impulse+Duffle
    -->
