<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yaroslav_Core::general"
             title="{Yaroslav}"
             module="Yaroslav_RegularCustomer"
             sortOrder="100"
             parent="Magento_Backend::marketing"
             resource="Yaroslav_Core::general"
        />
        <add id="Yaroslav_RegularCustomer::listing"
             title="Personal Discount"
             translate="title"
             module="Yaroslav_RegularCustomer"
             sortOrder="100"
             parent="Yaroslav_Core::general"
             action="ya_roslav_regular_customer/discount/index"
             resource="Yaroslav_RegularCustomer::listing"
        />
    </menu>
</config>
