<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <tab id="ya_roslav" sortOrder="350">
            <label>{YAroslav}</label>
        </tab>
        <section id="ya_roslav_regular_customer" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Regular Customer</label>
            <tab>ya_roslav</tab>
            <resource>Yaroslav_RegularCustomer::config</resource>
            <group id="general" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <comment>Settings per store view are not available</comment>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_for_guests" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow for Guests</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <!-- @TODO: automatically clear caches in case this config is changed -->
                    <comment>Allow guests to submit discount requests. Clear Page Cache and Block HTML output cache after changing this option</comment>
                </field>
            </group>
        </section>
    </system>
</config>
