<form class="form ya-roslav-regular-customer-form"
      action="/errors/404.php"
      onsubmit="return false;"
      method="post"
      data-bind="
          afterRender: initModal,
          submit: sendRequest,
          visible: !formSubmitDeniedMessage()
      "
>
    <fieldset class="fieldset">
        <br>
        <div class="field name required" data-bind="visible: !isLoggedIn()">
            <label class="label" for="ya-roslav-regular-customer-name">
                <span translate="'Name'"></span>
            </label>
            <div class="control">
                <input class="input-text"
                       data-bind="
                            attr: {
                                title: $t('Name'),
                                placeholder: $t('Name'),
                            },
                            value: customerName
                       "
                       data-validate="{ required: true }"
                       id="ya-roslav-regular-customer-name"
                       name="name"
                       type="text"
                >
            </div>
        </div>
        <div class="field email required" data-bind="visible: !isLoggedIn()">
            <label class="label" for="ya-roslav-regular-customer-email">
                <span translate="'Email'"></span>
            </label>
            <div class="control">
                <input class="input-text"
                       data-bind="
                            attr: {
                                title: $t('Email'),
                                placeholder: $t('Email'),
                            },
                            value: customerEmail
                       "
                       data-validate="{ required: true, 'validate-email': true }"
                       id="ya-roslav-regular-customer-email"
                       name="email"
                       type="email"
                >
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden"
                   name="product_id"
                   value="<?= $escaper->escapeHtmlAttr((int) $product->getId()) ?>"
            />
            <button type="submit"
                    data-bind="
                        attr: {
                            title: $t('Request a Discount')
                        }
                    "
                    class="action submit primary"
            >
                <span translate="'Request a Discount'"></span>
            </button>
        </div>
    </div>
</form>
<div class="message-info info message" data-bind="visible: formSubmitDeniedMessage()">
    <div data-bind="text: formSubmitDeniedMessage()"></div>
</div>

